<div class="answer my">
  <p><%= @question%></p>
  <p class="your">-YOU</p>
</div>

<br>

<div class="answer coach">
  <p><%=@answer%></p>
  <p class="your">-YOUR COACH</p>
</div>

<%= link_to "Ask another question", ask_path %>
